.chart-page {
  border: none;
}

.tradingview-widget-container {
  .speedometerTitle-DPgs-R4s.noTopMargin-DPgs-R4s.compactMargin-1mNRKgwm {
    display: none !important;
  }
}

.speedometerTitle-DPgs-R4s {
  display: none !important;
  visibility: hidden !important;
}
.background-DPgs-R4s {
  border: 1px solid red !important;
}
#data{
  
}