@import '/src/assets/scss/mixins/responsive';

.CustomizedDatePicker {
    border: 1px solid #e6ebfd;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    outline: none !important;
    position: relative;
    padding-right: 40px;
    font-size: 0.8rem;
}

.icon {
    position: absolute;
    bottom: 9px;
    right: 10px;
}

@include breakpoint(sm) {
    .inputLabel {
        font-size: 9px !important;
    }
}