.label {
    font-size: 12px;
    color: var(--main-gray-3);
    font-weight: 500;
    margin: 0;
}

.inputErrorText,
.amountText,
.unit,
.passwordIcon,
.preIcon {
    position: absolute;
}

.inputErrorText {
    font-size: 12px;
    color: var(--main-red);
    font-weight: 400;
    top: 100%;
    right: 2px;
    padding-top: 2px;
}

.amountText {
    top: 100%;
    left: 2px;
    font-weight: 500;
    color: var(--main-gray-2);
    padding-top: 2px;
}

.unit {
    left: 0;
    bottom: 50%;
    transform: translate(50%, 50%);
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
}

.preIcon {
    top: 0;
    right: 0;
    height: 100%;
    padding: 0 8px;
    display: flex;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: 70%;
        // transform: translateY(-%);
        background-color: var(--main-gray-0);
    }
}

.passwordIcon {
    cursor: pointer;
    left: 0;
    bottom: 50%;
    transform: translate(50%, 50%);
}

.preIconPadding {
    padding-left: 40px !important;
}