@import "../../../../assets/scss/mixins/responsive";

.container {
    padding: 12px;
}


.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;

    svg,
    img {
        border-radius: 100%;
        width: 100%;
        height: 100%;
    }
}

.description {
    width: calc(100% - 52px);
    max-width: 520px;
    padding: 12px;
    border-radius: 12px;
    background: rgba(0, 186, 186, 0.15);

    img {
        width: 98%;
        height: auto;
        margin: 15px 0 0;
        border-radius: 5px;
    }
}

.message {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &.customer {
        .description {
            background: rgba(0, 186, 186, 0.15);
            border-top-right-radius: 3px;
        }

        .avatar {
            padding: 3px;
            background: var(--main-hover-bg);
            margin-left: 12px;
        }
    }

    &.admin {
        flex-direction: row-reverse;

        .description {
            background: rgba(255, 255, 255, 1);
            border-top-left-radius: 3px;
        }

        .avatar {
            background: #fff;
            padding: 7px;
            margin-right: 12px;
        }
    }
}

.chatWrapper {
    max-height: 645px;
    overflow-y: auto;
    padding-left: 12px;

}

.sendMsgWrapper {
    position: relative;
    margin-top: 12px;

    .sendMsg {
        border-radius: 12px;
        background-color: #fff;
        padding: 0 12px;
        display: flex;
        align-items: stretch;

        .textarea {
            flex-grow: 2;
            display: flex;
        }

        .btns {
            display: flex;
            margin-left: -10px;

            .icon {
                cursor: pointer;
                padding: 14px 10px;
                display: flex;
                align-items: flex-end;
                justify-content: center;
                color: var(--main-blue);
                height: 100%;
                transition: all 0.3s ease-in;

                &:hover {
                    color: var(--main-gray-4);
                }

                svg {
                    height: 24px;
                    width: 24px;
                }

                &.rotate {
                    transform: rotateY(3.142rad);
                }
            }
        }
    }
}

.rowsMsg {
    .columnMsg {

        &:last-child {
            margin-bottom: 0 !important;
        }
    }
}

.attachFiles {
    position: relative;

    .input {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        opacity: 0;
    }
}

.uploadedFiles {
    bottom: 100%;
    position: absolute;
    width: 100%;
    background: rgba(208, 238, 239, 0.45);
    padding: 12px;
    border-radius: 12px;
    display: flex;

    .files {
        width: 60px;
        height: 40px;
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        margin-left: 12px;

        img {
            width: 100%;
            height: 100%;
        }

        .delete {
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: var(--main-red);
            border-top-right-radius: 5px;
            color: #fff;
            width: 17px;
            height: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            svg {
                width: 14px;
                height: 14px;
            }
        }
    }
}



@include breakpoint(sm) {



    .avatar {
        width: 24px;
        height: 24px;
        padding: 4px !important;
    }

    .description {
        width: calc(100% - 36px);
    }
}