.customizeTable {
  table {
    border: none;

    thead {
      tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;

        th {
          border: none;
          vertical-align: middle;
          padding: 1rem 0.5rem;
          text-transform: capitalize;
          letter-spacing: 0;
          border-bottom: 1px solid #e9ecef;
          font-size: .75rem !important;
          opacity: 1 !important;
          font-weight: 400 !important;
          color: var(--main-gray-2);
        }
      }
    }

    tbody {
      border: none !important;

      tr {
        border-color: inherit;
        border-style: solid;
        border-width: 0;

        &:nth-child(2n+1) {
          background-color: #fdfdfd;
        }

        td {
          vertical-align: middle;
          padding: 1rem 0.5rem;
          border-top-width: 0.5px;
          border-color: #dee2e6;
          color: #8392ab !important;
          font-size: .75rem !important;
          font-weight: 400 !important;
          text-align: center;

          span {
            font-size: .75rem !important;
          }
        }
      }
    }
  }

  &.dark {
    table {
      color: #fff;

      thead {
        tr {
          th {
            border-color: #141b2d;
          }
        }
      }

      td {
        border-color: #141b2d;
      }

      tbody {
        tr {
          &:nth-child(2n+1) {
            background-color: #222c44;
          }
        }
      }
    }
  }
}